language: php

matrix:
  fast_finish: true
  include:
    - php: 7.2
    - php: 7.3

install:
  - export COMPOSER_MEMORY_LIMIT=-1
  - export COMPOSER_PROCESS_TIMEOUT=3000
  - composer install

script:
  - ./vendor/bin/phpunit --coverage-clover=./coverage.clover
